.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: var(--grayscale-50);
}

.summarySection {
  display:flex;
  width: 100%;
  justify-content: center;
}

.reviewSection {
  width: 100%;
  max-width: 80rem; /* WineSummaryCard와 너비를 맞추기 위해 조정 */
  margin-top: 4rem;
}

.reviewTitle {
  font-size: var(--xl-size);
  font-weight: var(--bold);
  margin-bottom: 2rem;
}

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
