.pageContainer {
  max-width: 114rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 auto;
}

.wineSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: var(--grayscale-50);

}

.RatingSummaryAndReview {
  display: flex;
  flex-direction: column;
}

.wineRatingSummaryContainer {
  display:flex;
  width: 100%;
  justify-content: center;
}

.reviewContainer {
  width: 100%;
  max-width: 80rem; 
}

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* tablet */
@media screen and (min-width: 768px) {
  .pageContainer {
    gap: 6.5rem;
  }

  .reviewList {
  gap: 2.4rem;
}
}


/* desktop */
@media screen and (min-width:1024px) {
  .pageContainer {
    gap: 6rem;
  }

  .RatingSummaryAndReview {
  display: flex;
  flex-direction:row-reverse;
  gap: 6rem;
}

.wineRatingSummaryContainer {
  flex: 7;
  min-width: 0;
}

.reviewContainer {
  flex: 20;
  min-width: 0;
}

  .reviewList {
  gap: 2rem;
  }

}