.input,
.container {
  width: 100%;
  max-width: 48.4rem;
}

.container {
  position: relative;
}

.input {
  padding: 1.4rem 2rem;
  height: 4.8rem;

  border: 0.1rem solid var(--grayscale-300);
  border-radius: var(--middle);
  outline: none;
}

.input::placeholder {
  font-size: var(--lg-size);
  font-weight: var(--regular);
  line-height: var(--lg-li-he);
  color: var(--grayscale-500);
}

.input:focus {
  border: 0.1rem solid var(--primary-purple-100);
}

.input-invalid {
  border: 0.1rem solid red;
}

.visible-btn {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  padding: 0;
  border: none;
  background-color: var(--white);
}

.file {
  display: none;
}

.file-btn {
  width: 1.4rem;
  height: 1.4rem;
  border: 0.1rem solid var(--grayscale-300);
  border-radius: var(--middle);
  background-color: var(--white);

  cursor: pointer;
}

.error-text {
  margin-left: 1rem;

  font-size: var(--xm-size);
  font-weight: var(--regular);

  color: red;
}

@media screen and (max-width: 375px) {
  .input {
    height: 4.2rem;

    border-radius: var(--small);
  }

  .input::placeholder {
    font-size: var(--md-size);
    line-height: var(--md-li-he);
  }

  .file-btn {
    width: 12rem;
    height: 12rem;
    border-radius: var(--small);
  }
}
