.text {
  padding: 1.4rem 2rem;
  width: 100%;
  max-width: 48rem;
  min-width: 32.7rem;
  height: 12rem;
  border: 0.1rem solid var(--grayscale-300);
  border-radius: var(--middle);
  resize: none;

  font-size: var(--lg-size);
  font-weight: var(--regular);
  line-height: var(--lg-li-he);
}

.text-invalid {
  border: 0.1rem solid red;
}

.text::placeholder {
  color: var(--grayscale-500);
}

.text:focus {
  border-color: var(--primary-purple-100);
  outline: none;
}

.error-text {
  margin-top: 0.5rem;
  margin-left: 1rem;

  font-size: var(--xm-size);
  font-weight: var(--regular);

  color: red;
}

@media screen and (max-width: 37.5rem) {
  .text {
    height: 10rem;
    border-radius: var(--small);

    font-size: var(--md-size);
    font-weight: var(--regular);
    line-height: var(--md-li-he);
  }
}
