.text {
  padding: 14px 20px;
  width: 100%;
  max-width: 480px;
  min-width: 327px;
  height: 120px;
  border: 1px solid var(--grayscale-300);
  border-radius: var(--middle);
  resize: none;

  font-size: var(--lg-size);
  font-weight: var(--regular);
  line-height: var(--lg-li-he);
}

.text-invalid {
  border: 1px solid red;
}

.text::placeholder {
  color: var(--grayscale-500);
}

.text:focus {
  border-color: var(--primary-purple-100);
  outline: none;
}

.error-text {
  margin-top: 5px;
  margin-left: 10px;

  font-size: var(--xm-size);
  font-weight: var(--regular);

  color: red;
}

@media screen and (max-width: 375px) {
  .text {
    height: 100px;
    border-radius: var(--small);

    font-size: var(--md-size);
    font-weight: var(--regular);
    line-height: var(--md-li-he);
  }
}
