.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--small);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  cursor: pointer;

  /* 모바일 기본값 */
  width: 100%;
  max-width: 34.3rem; /* 카드가 너무 커지지 않게 제한 */
  height: 36rem; /* 내용에 따라 늘어나도록 */
}

.body {
  display: flex;
  padding: 3rem 2rem 0 2rem;
  gap: 3.6rem;
}

.imageWrapper {
  display: flex;
  align-items: flex-end;
}

.image {
  object-fit: cover;
  width: 7rem;
  height: 21.2rem;
  object-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
  margin-bottom: 2.2rem;
  width: 18.7rem;
  height: auto;
}

.infoTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--grayscale-900);
  line-height: 3.2rem;
}

.infoDescription {
  font-size: 1.4rem;
  color: var(--grayscale-500);
  margin-bottom: 0.8rem;
  line-height: 2.4rem;
}

.tagLabel {
  margin-bottom: 2.2rem;
}

.wineRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.8rem;
}

.ratingBox {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ratingValue {
  font-size: 2.8rem;
  font-weight: 800;
}

.reviewState {
  font-size: 1.2rem;
  color: var(--grayscale-500);
  line-height: 1.8rem;
}

.divider {
  border: none;
  border-top: 1px solid var(--grayscale-300);
  margin: 0;
}

.detailContent {
  border-top: 1px solid var(--grayscale-200);
  padding: 0.7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 30.3rem;
  height: 10.4rem;
}

.detailTitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayscale-900);
}

.detailDescription {
  font-size: 1.2rem;
  color: var(--grayscale-500);
  line-height: 2.4rem;
}

@media screen and (min-width: 37.6rem) {
  .card {
    width: 70.4rem;
    height: 37.5rem;
  }
  .image {
    width: 7rem;
    height: 21.2rem;
  }
}
