/* color */
:root {
  --black: #101318;
  --white: #ffffff;

  --grayscale-100: #f2f4f8;
  --grayscale-300: #cfdbea;
  --grayscale-500: #9facbd;
  --grayscale-800: #2d3034;

  --primary-purple-100: #6a43db;
  --primary-purple-10: #f1edfc;
}

/* font */
:root {
  --3xl-size: 3.2rem;
  --2xl-size: 2.4rem;
  --xl-size: 2rem;
  --2lg-size: 1.8rem;
  --lg-size: 1.6rem;
  --md-size: 1.4rem;
  --sm-size: 1.3rem;
  --xm-size: 1.2rem;

  --3xl-li-he: 4.2rem;
  --2xl-li-he: 3.2rem;
  --xl-li-he: 3.2rem;
  --2lg-li-he: 2.6rem;
  --lg-li-he: 2.6rem;
  --md-li-he: 2.4rem;
  --sm-li-he: 2.2rem;
  --xm-li-he: 2rem;
  --xm-li-he2: 1.8rem;

  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
}

/* border-radius */
:root {
  --middle: 1.6rem;
  --small: 1.2rem;
}
