.container {
  position: relative;
  display: inline-block;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.trigger {
  cursor: pointer;
  display: inline-block;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 101px;
  background-color: var(--white);
  border: 1px solid var(--grayscale-300);
  border-radius: 16px;
  list-style: none;
  margin: 0;
  padding: 3px 4px;
  z-index: 20;
  font-size: 14px;
}

.menuItem {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s, color 0.2s;
  color: var(--black);
  font-weight: 500;
  text-align: center;
}

.menuItem:hover {
  background-color: var(--primary-purple-10);
  color: var(--primary-purple-100);
}

/* desktop */
@media (min-width: 768px) {
  .menu {
    font-size: 16px;
    width: 126px;
  }

  .menuItem {
    padding: 13px 28px;
  }
}