.container {
  position: relative;
  display: inline-block;
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

.trigger {
  cursor: pointer;
  display: inline-block;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--grayscale-300);
  border-radius: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0.3rem 0.4rem;
  z-index: 20;
  width: max-content;
  font-size: 1.4rem;
}

.menuItem {
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s, color 0.2s;
  color: var(--black);
  font-weight: var(--md-size);
  text-align: center;
  padding: 0.8rem 1.6rem;
}

.menuItem:hover {
  background-color: var(--primary-purple-10);
  color: var(--primary-purple-100);
}

/* tablet & destop */
@media screen and (min-width: 768px) {
  .menu {
  padding: 0.3rem 0.4rem;
  font-size: var(--lg--size);
}

.menuItem {
  padding: 1rem 2.4rem;
}
}