.container {
  position: relative;
  display: inline-block;
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

.trigger {
  cursor: pointer;
  display: inline-block;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--grayscale-300);
  border-radius: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0.3rem 0.4rem;
  z-index: 20;
}

.menuItem {
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s, color 0.2s;
  color: var(--black);
  font-weight: var(--medium);
  text-align: center;
}

.menuItem:hover {
  background-color: var(--primary-purple-10);
  color: var(--primary-purple-100);
}


/* --- S 사이즈 스타일 (S Size Styles) --- */
.menuS {
  width: 10.1rem;
  font-size: 1.4rem;
}

.menuItemS {
  padding: 0.8rem 1.6rem;
}


/* --- M 사이즈 스타일 (M Size Styles) --- */
.menuM {
  width: 12.6rem;
  font-size: 1.6rem;
}

.menuItemM {
  padding: 1.3rem 2.8rem;
}