.container {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 114rem;
  min-width: 34.3rem;
  box-sizing: border-box;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1.5rem 2rem;
  border-radius: 1.2rem;
}

/* 모바일: 0 ~ 37.5rem */
@media (max-width: 375px) {
  .inner {
    height: 5.6rem;
    padding: 1.4rem 2.8rem;
    border-radius: 1.4rem;
  }
}

/* 태블릿: 37.6rem ~ 76.8rem */
@media (min-width: 376px) and (max-width: 768px) {
  .inner {
    height: 6.4rem;
    padding: 1.2rem 4rem;
    border-radius: 1.6rem;
  }
}

/* 브라우저: 76.9rem ~ */
@media (min-width: 769px) {
  .inner {
    height: 7rem;
    padding: 1.1rem 6rem;
    border-radius: 1.6rem;
  }
}
