.reviewSection {
  width: 100%;
  max-width: 80rem; /* 페이지의 다른 컨텐츠와 너비를 맞춥니다. */
  margin-top: 4rem;
}

.reviewTitle {
  font-size: var(--xl-size);
  font-weight: var(--bold);
  margin-bottom: 2rem;
}

.listTitle {
  font-size: 2rem;
  font-weight: var(--bold);
  margin-bottom: 3rem;
  display: none;
}

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noReviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 11.5rem;
  gap: 4rem;
  font-size: var(--lg-size);
  color: var(--grayscale-500);
}

.noReviewsSign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

/* button */
.buttonWrapper {
  grid-area: button;
  display: flex;
  justify-content: flex-end;
}

.reviewButton {
    padding: 1.4rem 3.2rem;
    font-size: var(--lg-size);
    font-weight: var(--semibold);
}

/* tablet */
@media screen and (min-width: 768px) {
    .reviewList {
        gap: 2.4rem;
    }


  .buttonWrapper {
  justify-content: flex-start;
}

.reviewButton {
    padding: 1.6rem 4.8rem;
}
}



/* desktop */
@media screen and (min-width:1024px) {
    .listTitle {
  display: block;
}

  .reviewList {
    gap: 2rem
  }

  .buttonWrapper {
  margin-top: 1rem;
}

 .reviewButton {
    padding: 1.6rem 4.8rem;
 }

.distributionSection {
  display: flex;
  flex-grow: 0; /* 남은 공간을 모두 차지 */
}

}